<div class="container">
  <h2>Validação de E-mail</h2>

  <form (ngSubmit)="onSubmit()" #validateForm="ngForm">

    <div class="form-group">
      <label for="code">Código de Verificação</label>
      <input
        type="text"
        id="code"
        name="code"
        class="form-control"
        [(ngModel)]="code"
        required
      />
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary" [disabled]="!validateForm.form.valid || isLoading">
        <span *ngIf="isLoading" class="spinner"></span>
        {{ isLoading ? 'Cadastrando...' : 'Registrar' }}
      </button>
    </div>
  </form>
</div>
