<div class="container">
  <h2>Registro de Usuário</h2>

  <form (ngSubmit)="onSubmit()" #registroForm="ngForm">
    <div class="form-group">
      <label for="email">E-mail</label>
      <input
        type="email"
        id="email"
        name="email"
        class="form-control"
        [(ngModel)]="newUser.email"
        required
      />
    </div>

    <div class="form-group">
      <label for="password">Senha</label>
      <input
        type="password"
        id="password"
        name="password"
        class="form-control"
        [(ngModel)]="newUser.password"
        required
      />
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary" [disabled]="!registroForm.form.valid">Registrar</button>
    </div>
  </form>

  <div class="form-group">
    <button routerLink="/validate" class="btn btn-primary">Validar</button>
  </div>

  <div *ngIf="allUsers.length > 0" class="mt-4">
    <h3>Usuários Registrados:</h3>
    <ul>
      <li *ngFor="let user of allUsers">{{ user.email }} - {{ user.isEmailVerified ? 'Verificado' : 'Não Verificado' }}</li>
    </ul>
  </div>
</div>
